# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: CD_SPOTS

on:
  pull_request:
    branches: ["master"]

jobs:
  build:
    name: CI_TEST
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js version
        uses: actions/setup-node@v1
        with:
          node-version: '16.x'

      # npm을 시작합니다.
      - name: npm initialize
        run: npm init -y

      # npm패키지를 설치합니다.
      - name: Install dependencies
        run: npm install

      # jest 테스트를 수행합니다.
      - name: Run tests
        run: npm run test

  deploy:
    name: CD_TEST
    if: ${{ always() }}
    needs: build
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - name: Deploy
        uses: appleboy/ssh-action@v0.1.5
        with:
          key: ${{ secrets.CI_CD_KEY }}
          host: ${{ secrets.CI_CD_HOST }}
          username: ${{ secrets.CI_CD_USERNAME }}
          port: ${{ secrets.CI_CD_PORT }}
          script: |
            cd ${{ secrets.CI_CD_PATH1 }}
            sudo git pull origin master
            sudo npm install
            sudo pm2 restart app.js
